@model PracticeWeb1.Areas.Admin.Models.CategoryVM

@using PracticeWeb1.Areas.Admin.Models

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<br />
@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}

    @*@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {*@
    <form id="myForm" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="ImageUrl">Category Image</label>
                <div class="col-md-10">
                    <input type="file" name="file" id="ImageUpload" /><br />
                    <img id="imgpreview" src="~/Images/Logos/Placeholder.png" width="150" height="150" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success create-btn" />
                </div>
            </div>
        </div>
    </form>
    @*}*@

    <div>
        @Html.Partial("_SmallButtonPartial", new SmallButtonModel
{
    Action = "Index",
    Controller = "Category",
    Glyph = "list",
    Type = "primary",
    Text = "Back to Categories"
})
    </div>

    @section Scripts{
        <script>
            $(function () {
                $("#myForm").submit(function (e) {
                    e.preventDefault();
                    var formData = new FormData(this);
                    //var form = $("#myForm").serialize();

                    //var antiForgery = $('input[name="__RequestVerificationToken"]').val();
                    //var file = $('input[name="file"]').get(0).files;
                    //var model = {
                    //    Title: $('input[name="Title"]').val(),
                    //    Description: $('input[name="Description"]').val()
                    //};

                    //$.post("/Admin/Category/Create", { __RequestVerificationToken: antiForgery, model: JSON.stringify(model), file: file[0] }, function (data) {
                    //    alert("success " + form);
                    //});

                    $.ajax({
                        type: "POST",
                        url: "/Admin/Category/Create",
                        //data: {
                        //    __RequestVerificationToken: antiForgery,
                        //    model: JSON.stringify(model),
                        //    file: file
                        //},
                        data: formData,
                        success: function (data) {
                            $("body").html(data);
                        },
                        contentType: false,
                        processData: false
                    });
                });
            });
        </script>
    }
