@model PracticeWeb1.Entities.ViewModels.CartDetailsVM

@using PracticeWeb1.Areas.Admin.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Items.Count() == 0)
{
    <div style="margin-top:40px;">
        There are no items in your cart.
        <img src="~/Images/Logos/sad_face.png" width="50" height="50" alt="Sad Face" />
    </div>
    <br />
}
else
{
    <h2>Your Shopping Cart</h2>
    <hr />
    <div class="empty-cart">

    </div>
    <table class="table table-striped table-condensed">
        <tr class="success">
            <th>Picture</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
        </tr>
        @if (Model.Items.Count() != 0)
        {
            foreach (var item in Model.Items)
            {
                <tr id="row_@item.Product.Id">
                    <td><a href="/Home/ProductDetails/@item.Product.Id"><img src="~/Images/Uploads/Products/@item.Product.Id/Thumbs/@item.Product.ImageUrl" alt="@item.Product.ImageUrl" width="50" height="50" /></a></td>
                    <td>@item.Product.Title</td>
                    <td id="itemPrice_@item.Product.Id">$@item.Product.Price</td>
                    <td id="quantity_@item.Product.Id">@item.Quantity</td>
                    <td id="itemTotalPrice_@item.Product.Id">$@(Math.Round(item.Product.Price * item.Quantity, 2))</td>
                    <td>
                        <a href="#" class="btn btn-success btn-inc-prod" data-id="@item.Product.Id"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#" class="btn btn-danger btn-dec-prod" data-id="@item.Product.Id"><span class="glyphicon glyphicon-minus"></span></a>
                    </td>
                </tr>
            }
        }
        <tr class="total-quantity-tr">
            <td></td>
            <td></td>
            <td>Total Number of Items:</td>
            <td id="totalQuantity">(@Model.Qty)</td>
        </tr>
        <tr class="total-price-tr">
            <td></td>
            <td></td>
            <td>Grand Total:</td>
            <td id="totalPrice">$@Model.TotalPrice</td>
        </tr>
    </table>

    <a href="#" class="btn btn-danger clear-cart">Remove all Items</a>
}
@if (Session["username"] == null)
{
    <div class="modal fade" id="PlaceOrderModel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close pull-right" data-dismiss="modal">&times;</a>
                    <h4>Placing your order</h4>
                </div>
                <div class="modal-body">
                    <h4>Do you want to proceed without signing in?</h4>

                    <a href="/UserAccount/Login" class="btn btn-info">Sign In</a>
                    <a href="/Cart/PlaceOrder" class="btn btn-warning">Proceed to Place Order</a>
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("_SmallButtonPartial", new SmallButtonModel
{
    Action = "Index",
    Controller = "Home",
    Type = "info",
    Glyph = "shopping-cart",
    Text = "Continue Shopping"
})

@if(Model.Items.Count() != 0)
{

if (Session["username"] == null)
{
    @Html.Partial("_SmallButtonPartial", new SmallButtonModel
{
    Action = "",
    Controller = "",
    CustomClass = "place-order-btn",
    Type = "success",
    Glyph = "list",
    Text = "Place Order"
})
}
else
{
    @Html.Partial("_SmallButtonPartial", new SmallButtonModel
{
    Action = "PlaceOrder",
    Controller = "Cart",
    CustomClass = "place-order-btn",
    Type = "success",
    Glyph = "list",
    Text = "Place Order"
})
}
}




